<div class="member-card">
  <img src="{{ member.image }}" alt="{{ member.name }}" />
  <div>
    <h3>{{ member.name }}</h3>
    <p>{{ member.title }}</p>
    {% if member.currentPosition %}
    <p><em>{{ member.currentPosition }}</em></p>
    {% endif %}
    <a href="{{ member.profile }}" target="_blank">View Profile</a>
  </div>
</div>


